/*
colors used:
blue #727a8c;
dark green #324001;
green #4f5902;
beige #a6785d;
red #6f2a25;
*/

* {
  box-sizing: border-box;
}
/* body font styling */
body {
  background-color: #e9e2de;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: black;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}
h1 {
  font-size: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}

/* hero styling */
.hero p {
  font-size: 0.85em;
  font-weight: 400;
}
.hero {
  background-color: #e2e3e6;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

/*links styling */
a {
  color: #6f2a25;
  text-decoration: none;
}
a:visited {
  color: #4f5902;
}
a:hover {
  color: #727a8c;
  text-decoration: underline;
}
a:active {
  color: #727a8c;
}
a:focus {
  color: #727a8c;
  outline: 1px solid #727a8c;
}

/* button styling */
.button {
  display: inline-block;
  background-color: white;
  color: #6f2a25;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #6f2a25;
  text-transform: uppercase;
  border: 2px solid #6f2a25;
  background-color: #e2e3e6;
}
.button.contact:hover {
  opacity: 0.8;
  text-decoration: none;
  background-color: #bfc2c9;
}

/*header styling*/
.logo {
  display: inline-block;
  margin: auto;
  text-align: center;
}
.logo img {
  max-width: 150px;
}
header {
  width: 100%;
  position: fixed;
  padding: 10px 0 4px;
  background-color: #e2e3e6;
  width: [object Object]px;
  height: [object Object]px;
  border: solid #bdbdbd 1px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
main {
  padding-top: 43.8px;
}


nav > ul {
  list-style-type: none;
  padding: 0;
  margin:0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}
nav > ul > li > a {
  color: #6f2a25;
  text-decoration: none;
}
nav > ul > li > a:visited {
  color: #4f5902;
}
nav > ul > li > a:hover {
  color: #727a8c;
  text-decoration: underline;
}
nav > ul > li > a:active {
  color: #727a8c;
}
nav > ul > li > a:focus {
  color: #727a8c;
  outline: 1px solid #727a8c;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
/*layout styling*/
.container {
  padding: 0 15px;
}

.hero {
  text-align: center;
}



/*footer styling*/

#contact {
  text-align: center;
}
.social-links {
  text-align: center;
}
.social-links img {
  width: 50px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  main {
    padding-top: 107.4px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav > ul {
    margin: 1em 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  body {
    font-size: 18px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .col-md-6 {
    width: 50%;
  }
  .col-md-6 p {
    font-size: 0.85em;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  .col-lg-6 {
    width: 50%;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

.coming-soon {
  pointer-events: none;
  background-color: gray;
  color: white !important;
}